---
- name: install required packages
  apt:
    name:
      - docker.io
      - openjdk-17-jdk
    state: present
    update_cache: yes

- name: enable & start docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes
