services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: flask_app
    expose:
      - "8000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: always
